In [92]:
#Find interesting things
import sqlite3
import urllib.parse
import nltk

In [148]:
conn = sqlite3.connect('db.db')
airline_ids = [1126873599372156900, 1024338385404682200, 211830847, 56377143, 106062176, 18332190, 22536055, 124476322, 26223583, 2182373406, 38676903, 1542862735, 253340062, 218730857, 45621423, 20626359]

In [107]:
conn.execute("CREATE INDEX in_rp_t_st_id ON retweets (in_reply_to_status_id);")
conn.execute("CREATE INDEX ent_ment_id ON ent_mentions (user_id);")

In [113]:
conn.execute("CREATE INDEX ret_stat ON tweets (retweeted_status);")

In [149]:
#Get retweets only by airlines
query_1 = """
select user, count(user) as user_count
from tweets
where user NOT IN ({0})
and text = 'null'
and retweeted_status != 'null'
group by user
order by user_count desc
LIMIT 250;
""".format(','.join((str(x) for x in airline_ids)))
for row in conn.execute(query_1):
    user_id = row[0]
    amount = row[1]
    #Get all airline mentions
    data = conn.execute("select name, count(id) from users where id = '{0}' group by id order by timestamp desc"
                        .format(user_id)).fetchone()
    name = urllib.parse.unquote_plus(data[0])
    status_count = data[1]
    print("ID: {0}, Name: {1} with status count {2}, {3} {4} retweets"
          .format(user_id, name, status_count, amount / status_count, amount))
    for airline in airline_ids:
        query_2 ="""
        select count(id) from tweets where
        id in (SELECT id FROM ent_mentions where user_id = '{0}')
        and
        user = '{1}'
        """
        airline_numbers = conn.execute(query_2.format(str(airline), user_id)).fetchone()[0]
        print(airline, airline_numbers)

ID: 875637231112683500, Name: PlaneSpottingIsCool with status count 8962, 1.0 8962 retweets
1126873599372156900 0
1024338385404682200 0
211830847 0
56377143 559
106062176 306
18332190 900
22536055 550
124476322 586
26223583 3
2182373406 0
38676903 319
1542862735 202
253340062 191
218730857 197
45621423 224
20626359 376
ID: 1137383922843770900, Name: Shield with status count 8508, 0.9998824635637047 8507 retweets
1126873599372156900 0
1024338385404682200 1
211830847 1
56377143 315
106062176 189
18332190 1905
22536055 192
124476322 287
26223583 0
2182373406 0
38676903 1082
1542862735 1002
253340062 66
218730857 36
45621423 113
20626359 34
ID: 799303160452018200, Name: British Airways SUCK with status count 7210, 0.7988904299583911 5760 retweets
1126873599372156900 2
1024338385404682200 0
211830847 50
56377143 9
106062176 4
18332190 6748
22536055 60
124476322 10
26223583 0
2182373406 0
38676903 34
1542862735 30
253340062 1
218730857 5
45621423 11
20626359 42
ID: 3385729313, Name: Twintair with status count 4963, 0.9607092484384445 4768 retweets
1126873599372156900 0
1024338385404682200 0
211830847 0
56377143 141
106062176 413
18332190 87
22536055 42
124476322 102
26223583 0
2182373406 0
38676903 30
1542862735 82
253340062 26

KeyboardInterrupt:

In [133]:
#Get retweets all
query_1 = """
select user, count(user) as user_count
from retweets
where user NOT IN ({0})
group by user
order by user_count desc
LIMIT 250;
""".format(','.join((str(x) for x in airline_ids)))
for row in conn.execute(query_1):
    user_id = row[0]
    amount = row[1]
    #Get all airline mentions
    data = conn.execute("select name, count(id) from users where id = '{0}' group by id order by timestamp desc"
                        .format(user_id)).fetchone()
    name = urllib.parse.unquote_plus(data[0])
    status_count = data[1]
    print("ID: {0}, Name: {1} with status count {2}, {3} {4} retweets"
          .format(user_id, name, status_count, amount / status_count, amount))
    query_2 ="""
    select user_id, count(user_id) as user_count from ent_mentions where id
    in (select id from retweets where
    user = '{1}')
    group by user_id
    order by user_count desc
    limit 10;
    """
    for a in conn.execute(query_2.format(str(user_id), user_id)):
        print("{0}>>>{1}".format(user_id, a))

ID: 1449525326, Name: Islam with status count 79, 1110.26582278481 87711 retweets
1449525326>>>(1542862735, 387)
1449525326>>>(17842366, 290)
1449525326>>>(1139432945092112400, 12)
1449525326>>>(976029015667630100, 9)
1449525326>>>(797779478961356800, 9)
1449525326>>>(1155598416740851700, 4)
1449525326>>>(1102280513526657000, 4)
1449525326>>>(3375577991, 4)
1449525326>>>(2947253139, 4)
1449525326>>>(394862725, 4)
ID: 1001079229864398800, Name: luna with status count 2, 19407.5 38815 retweets
ID: 1399161414, Name: CHERSAN SRISATJANGâœˆï¸ with status count 13, 2492.6153846153848 32404 retweets
1399161414>>>(914744345965756400, 8)
1399161414>>>(883957981389307900, 8)
1399161414>>>(91172195, 8)
ID: 427537312, Name: Kareem with status count 2, 15864.0 31728 retweets
ID: 14813703, Name: Matthew Harris with status count 2, 12310.0 24620 retweets
14813703>>>(1542862735, 84042)
14813703>>>(123908101, 84042)
14813703>>>(27067896, 84042)
14813703>>>(38676903, 1207)
ID: 3716026639, Name: ã…Žã…•ã„´ëª¨ì–‘ã…Šã…“-ë©”ì¸íŠ¸ìœ— ë´ì£¼ì„¸ìš” with status count 160, 153.1875 24510 retweets
3716026639>>>(56377143, 11844)
3716026639>>>(1224820880850555000, 92)
3716026639>>>(753703791459967000, 23)
3716026639>>>(1054857911480926200, 3)
3716026639>>>(1175307907073626000, 2)
3716026639>>>(3233672090, 2)
3716026639>>>(2894984331, 2)
ID: 616345234, Name: V de Vini with status count 17, 1204.2941176470588 20473 retweets
ID: 19913832, Name: Manchester Airport with status count 519, 31.454720616570327 16325 retweets
19913832>>>(19913832, 7497)
19913832>>>(85072628, 7280)
19913832>>>(38676903, 3947)
19913832>>>(20626359, 2563)
19913832>>>(253340062, 1844)
19913832>>>(18332190, 1307)
19913832>>>(124476322, 556)
19913832>>>(21764143, 539)
19913832>>>(45621423, 213)
19913832>>>(14573900, 75)
ID: 765306122416824300, Name: eva with status count 2, 8024.5 16049 retweets
ID: 104644955, Name: JetPhotos with status count 295, 49.80677966101695 14693 retweets
104644955>>>(18332190, 359)
104644955>>>(15425377, 238)
104644955>>>(587397179, 124)
104644955>>>(106062176, 80)
104644955>>>(366027659, 44)
104644955>>>(33875003, 44)
104644955>>>(20626359, 44)
104644955>>>(22536055, 40)
104644955>>>(15245706, 40)
104644955>>>(16408759, 18)
ID: 2758345674, Name: Secret Flying with status count 3476, 3.6257192174913695 12603 retweets
2758345674>>>(22536055, 10512)
2758345674>>>(18332190, 3809)
2758345674>>>(106062176, 1959)
2758345674>>>(56377143, 1790)
2758345674>>>(124476322, 1142)
2758345674>>>(20626359, 874)
2758345674>>>(16694416, 626)
2758345674>>>(5920532, 604)
2758345674>>>(16629918, 423)
2758345674>>>(54904679, 411)
ID: 909178214748213200, Name: ð–Šð–’ with status count 3, 3614.0 10842 retweets
ID: 1626294277, Name: The Spectator Index with status count 27, 396.962962962963 10718 retweets
ID: 134196350, Name: Flightradar24 with status count 202, 48.396039603960396 9776 retweets
134196350>>>(18332190, 2522)
134196350>>>(218730857, 2003)
134196350>>>(22536055, 946)
134196350>>>(20823928, 221)
134196350>>>(31327991, 202)
134196350>>>(15425377, 158)
134196350>>>(22090282, 156)
134196350>>>(366027659, 108)
134196350>>>(106062176, 108)
134196350>>>(415683367, 104)
ID: 1077861496393162800, Name: ä¸–ç•Œã®æœªæ¥äºˆæ¸¬ with status count 25, 364.24 9106 retweets
ID: 58647051, Name: ãƒˆãƒªãƒƒãƒ—ã‚¢ãƒ‰ãƒã‚¤ã‚¶ãƒ¼ with status count 4, 2264.25 9057 retweets
58647051>>>(58647051, 9516)
ID: 2461924214, Name: Prem Sikka with status count 14, 645.1428571428571 9032 retweets
2461924214>>>(311365871, 66)
2461924214>>>(222264019, 20)
2461924214>>>(159458248, 16)
ID: 16887175, Name: Daily Mirror with status count 417, 21.20863309352518 8844 retweets
16887175>>>(18332190, 4)
16887175>>>(20823928, 2)
ID: 179569408, Name: Dublin Airport with status count 107, 82.24299065420561 8800 retweets
179569408>>>(124476322, 6131)
179569408>>>(1542862735, 129)
179569408>>>(22536055, 117)
179569408>>>(34605824, 114)
179569408>>>(179569408, 93)
179569408>>>(18332190, 33)
179569408>>>(56377143, 27)
179569408>>>(24731568, 20)
179569408>>>(45621423, 18)
179569408>>>(821045162, 16)
ID: 3953296632, Name: â„­ð”¥ð”¯ð”¦ð”°ð”±ð”¦ð”«ð”ž ðŸ¬ with status count 1, 8762.0 8762 retweets
ID: 2270881405, Name: Claire Underwood with status count 8, 1079.125 8633 retweets
ID: 1093207090431176700, Name: aaron with status count 8, 1054.125 8433 retweets
ID: 4894580176, Name: Thomas Drew with status count 16, 524.125 8386 retweets
4894580176>>>(18332190, 12094)
4894580176>>>(699970558205763600, 206)
4894580176>>>(3064562247, 96)
4894580176>>>(1047381667072159700, 89)
ID: 1403040254, Name: Aeronews with status count 844, 9.890995260663507 8348 retweets
1403040254>>>(15425377, 15449)
1403040254>>>(20823928, 14047)
1403040254>>>(45621423, 14009)
1403040254>>>(22090282, 939)
1403040254>>>(124476322, 715)
1403040254>>>(56377143, 669)
1403040254>>>(106062176, 633)
1403040254>>>(18332190, 375)
1403040254>>>(25103967, 327)
1403040254>>>(20626359, 224)
ID: 18236230, Name: Jeffree Star with status count 8, 991.0 7928 retweets
18236230>>>(56377143, 2780)
18236230>>>(960635882570244100, 45)
18236230>>>(1038906616198910000, 23)
ID: 407781903, Name: Dr. Miguna Miguna with status count 54, 146.24074074074073 7897 retweets
407781903>>>(124476322, 2465)
407781903>>>(106062176, 984)
407781903>>>(1097677507409653800, 133)
407781903>>>(388952247, 86)
407781903>>>(300789811, 43)
407781903>>>(2767009467, 37)
407781903>>>(1057902407655526400, 27)
407781903>>>(239823191, 27)
407781903>>>(1289678539, 12)
407781903>>>(89171164, 11)
ID: 4704440131, Name: gloogloo___K with status count 3, 2594.0 7782 retweets
ID: 25384905, Name: Sawyerr with status count 2, 3854.5 7709 retweets
25384905>>>(106062176, 88)
25384905>>>(65527434, 88)
25384905>>>(62486337, 88)
ID: 1556639695, Name: angelica with status count 2, 3758.0 7516 retweets
ID: 65527434, Name: Fati with status count 25, 287.2 7180 retweets
65527434>>>(106062176, 22528)
ID: 876426709, Name: MarinakaaðŸº with status count 6, 1152.6666666666667 6916 retweets
ID: 2982743472, Name: Singapore Airlines with status count 78, 87.6923076923077 6840 retweets
2982743472>>>(335141638, 6907)
2982743472>>>(1193112657647349800, 2)
2982743472>>>(253340062, 2)
ID: 55948054, Name: Matthew Miller with status count 1, 6834.0 6834 retweets
ID: 15416505, Name: Gov. Mike Huckabee with status count 13, 522.1538461538462 6788 retweets
15416505>>>(22536055, 7776)
15416505>>>(5920532, 4045)
15416505>>>(974078039549251600, 224)
15416505>>>(1470283753, 8)
ID: 1652541, Name: Reuters Top News with status count 284, 23.556338028169016 6690 retweets
1652541>>>(1652541, 74)
1652541>>>(12794362, 40)
ID: 938419883745869800, Name: World Index with status count 36, 182.77777777777777 6580 retweets
ID: 193212924, Name: Dr.Nam(ë‚¨ë°•ì‚¬) with status count 1, 6578.0 6578 retweets
ID: 21753847, Name: Jameela Jamil ðŸŒˆ with status count 2, 3169.5 6339 retweets
ID: 14573900, Name: Manchester City with status count 46, 135.93478260869566 6253 retweets
14573900>>>(45621423, 7648)
14573900>>>(1375451460, 1995)
14573900>>>(139092348, 1644)
14573900>>>(728592182, 992)
14573900>>>(557669736, 594)
14573900>>>(382309176, 594)
14573900>>>(825670395714007000, 401)
14573900>>>(106710681, 397)
14573900>>>(543533194, 180)
14573900>>>(627491854, 178)
ID: 388952247, Name: Air France Newsroom with status count 447, 13.460850111856823 6017 retweets
388952247>>>(106062176, 966)
388952247>>>(407781903, 905)
388952247>>>(15425377, 874)
388952247>>>(106699049, 466)
388952247>>>(277407660, 231)
388952247>>>(171469656, 184)
388952247>>>(437520768, 85)
388952247>>>(29701712, 84)
388952247>>>(224140014, 77)
388952247>>>(143306758, 72)
ID: 94252916, Name: Obara, H. with status count 2, 2931.0 5862 retweets
ID: 800675088, Name: Marie Turcan with status count 4, 1460.0 5840 retweets
ID: 41012191, Name: Andrew Kimmel with status count 84, 69.27380952380952 5819 retweets
41012191>>>(22536055, 13062)
41012191>>>(90615617, 102)
41012191>>>(18913968, 102)
41012191>>>(5920532, 24)
41012191>>>(2893511188, 18)
41012191>>>(200668359, 18)
41012191>>>(89347792, 12)
41012191>>>(6449282, 12)
41012191>>>(17698956, 10)
41012191>>>(16573941, 10)
ID: 34713362, Name: Bloomberg with status count 140, 39.94285714285714 5592 retweets
34713362>>>(227682918, 71)
ID: 883957981389307900, Name: à¸šà¹‰à¸²à¸™à¸™à¸­à¸à¸«à¸±à¸”à¸™à¸±à¹ˆà¸‡à¹€à¸£à¸·à¸­à¸šà¸´à¸™ with status count 226, 24.513274336283185 5540 retweets

883957981389307900>>>(202923584, 2)
883957981389307900>>>(124476322, 2)
883957981389307900>>>(95584582, 2)
ID: 878247600096510000, Name: Candace Owens with status count 4, 1380.5 5522 retweets
878247600096510000>>>(22536055, 5860)
878247600096510000>>>(1179417193454420000, 13)
878247600096510000>>>(20873929, 11)
ID: 136004952, Name: Andrew Neil with status count 4, 1337.5 5350 retweets
136004952>>>(18332190, 5)
ID: 2280470022, Name: AIRLIVE with status count 335, 15.967164179104477 5349 retweets
2280470022>>>(18332190, 585)
2280470022>>>(106062176, 317)
2280470022>>>(38676903, 249)
2280470022>>>(463932884, 211)
2280470022>>>(218730857, 175)
2280470022>>>(22536055, 140)
2280470022>>>(124476322, 68)
2280470022>>>(1542862735, 43)
2280470022>>>(15425377, 15)
2280470022>>>(1443360055, 12)
ID: 950183205285527600, Name: Jon from Derby ðŸ´ó §ó ¢ó ·ó ¬ó ³ó ¿ðŸ‡¬ðŸ‡§ðŸ‡ªðŸ‡º ðŸ#FBPE with status count 40, 132.825 5313 retweets
950183205285527600>>>(1466783923, 28)
950183205285527600>>>(949692936614285300, 25)
950183205285527600>>>(78388539, 25)
950183205285527600>>>(21392184, 25)
950183205285527600>>>(20098015, 14)
950183205285527600>>>(152656121, 4)
950183205285527600>>>(492014042, 2)
950183205285527600>>>(20973388, 2)
ID: 498261509, Name: F1 with status count 4, 1327.5 5310 retweets
ID: 86872552, Name: Jimerro Forever with status count 1, 5295.0 5295 retweets
ID: 7996082, Name: EL PAÃS with status count 41, 128.78048780487805 5280 retweets
7996082>>>(127012743, 2)
7996082>>>(99877721, 2)
7996082>>>(18332190, 2)
ID: 409554410, Name: On The Naughty Step #FBPE #FreeNazaninðŸ‡ªðŸ‡º with status count 264, 19.973484848484848 5273 retweets
409554410>>>(20098015, 95)
409554410>>>(19898661, 95)
409554410>>>(174292801, 52)
409554410>>>(245324769, 16)
409554410>>>(757144396643049500, 7)
409554410>>>(1109217205567266800, 5)
409554410>>>(2528803121, 5)
409554410>>>(2480374538, 5)
409554410>>>(2468251668, 5)
409554410>>>(556629230, 5)
ID: 754604381048344600, Name: Stop Funding Hate with status count 130, 40.253846153846155 5233 retweets
754604381048344600>>>(151871119, 7460)
754604381048344600>>>(21178623, 6691)
754604381048344600>>>(35767597, 6679)
754604381048344600>>>(194049387, 6677)
754604381048344600>>>(191781601, 6528)
754604381048344600>>>(123600583, 6422)
754604381048344600>>>(18332190, 1737)
754604381048344600>>>(271986064, 1525)
754604381048344600>>>(20123366, 900)
754604381048344600>>>(179491236, 899)
ID: 516656614, Name: NicolÃ¡s Larenas with status count 317, 16.34069400630915 5180 retweets
516656614>>>(56377143, 486)
516656614>>>(106062176, 151)
516656614>>>(515869169, 78)
516656614>>>(218730857, 12)
516656614>>>(25103967, 12)
516656614>>>(15425377, 12)
516656614>>>(157847914, 9)
516656614>>>(130635647, 5)
516656614>>>(125399079, 4)
516656614>>>(2972300818, 3)
ID: 27948612, Name: Laura Muldoon with status count 12, 419.6666666666667 5036 retweets
27948612>>>(1542862735, 174)
27948612>>>(707680590, 3)
ID: 874167384181018600, Name: Ryanair EspaÃ±a with status count 1453, 3.4611149346180317 5029 retweets
874167384181018600>>>(1542862735, 34)
874167384181018600>>>(710842271, 17)
874167384181018600>>>(924764433041317900, 14)
874167384181018600>>>(3047592922, 11)
874167384181018600>>>(263628180, 8)
874167384181018600>>>(222266138, 6)
874167384181018600>>>(38676903, 6)
874167384181018600>>>(7849082, 6)
874167384181018600>>>(1237042106071494700, 5)
874167384181018600>>>(540749532, 5)
ID: 299484105, Name: Tisha Rowe MD, MBA with status count 444, 11.274774774774775 5006 retweets
299484105>>>(22536055, 27694)
299484105>>>(126062842, 9)
299484105>>>(15947602, 9)
299484105>>>(729760050, 6)
299484105>>>(49573859, 6)
299484105>>>(16921953, 3)
299484105>>>(784165874957709300, 2)
299484105>>>(702176255022485500, 2)
299484105>>>(700473181308481500, 2)
299484105>>>(4231848267, 2)
ID: 114698807, Name: PREAW PREAW KA with status count 19, 258.7368421052632 4916 retweets
114698807>>>(132398090, 2)
ID: 4858665557, Name: kieraðŸŒ» with status count 1, 4894.0 4894 retweets
ID: 40837929, Name: Jake Humphrey with status count 3, 1619.3333333333333 4858 retweets
40837929>>>(18332190, 3)
ID: 825665362272321500, Name: PeÃ±aranda with status count 1, 4757.0 4757 retweets
ID: 23584333, Name: tolu ogunlesi with status count 12, 395.5 4746 retweets
23584333>>>(1183136256, 8758)
23584333>>>(18332190, 3)
ID: 604648566, Name: Gaul Plancy with status count 2, 2355.0 4710 retweets
ID: 222748037, Name: Angela Rayner with status count 3, 1507.6666666666667 4523 retweets
ID: 186470618, Name: Simon Calder with status count 275, 16.163636363636364 4445 retweets
186470618>>>(38676903, 179)
186470618>>>(18332190, 73)
186470618>>>(252569527, 38)
186470618>>>(27675300, 32)
186470618>>>(3309102016, 24)
186470618>>>(3576155297, 21)
186470618>>>(56377143, 21)
186470618>>>(22069516, 21)
186470618>>>(754369397305778200, 19)
186470618>>>(7589572, 19)
ID: 976261611789762600, Name: ìŠ¤ì¦ˆ with status count 1, 4424.0 4424 retweets
ID: 1143957259501940700, Name: SHANE with status count 18, 239.5 4311 retweets
1143957259501940700>>>(499303352, 2)
ID: 8161232, Name: Richard Branson with status count 147, 29.01360544217687 4265 retweets
8161232>>>(20626359, 4507)
8161232>>>(85072628, 262)
8161232>>>(15631238, 218)
8161232>>>(19005152, 165)
8161232>>>(5920532, 163)
8161232>>>(2835962353, 111)
8161232>>>(15425377, 108)
8161232>>>(3875185559, 73)
8161232>>>(217029628, 50)
8161232>>>(3003946119, 49)
ID: 3861501734, Name: Maleek Eid ðŸ‡µðŸ‡¸ with status count 1, 4225.0 4225 retweets
ID: 947635931590287400, Name: (((âŒ40HeadâŒâ­â­â­âŒ))) with status count 35, 120.51428571428572 4218 retweets
947635931590287400>>>(939985878201618400, 62)
947635931590287400>>>(3113459617, 62)
947635931590287400>>>(188665202, 62)
947635931590287400>>>(54746171, 62)
947635931590287400>>>(1015978766399467500, 3)
947635931590287400>>>(885655663937855500, 3)
947635931590287400>>>(2241376826, 3)
947635931590287400>>>(1702718538, 3)
ID: 166747718, Name: Tyler, The Creator with status count 1, 4211.0 4211 retweets
166747718>>>(22536055, 4626)
ID: 82475617, Name: Jorge GÃ³mez Naredo with status count 2, 2083.0 4166 retweets
82475617>>>(144376833, 4779)
ID: 23719107, Name: Nelson Bocaranda S. with status count 3, 1354.3333333333333 4063 retweets
ID: 18020612, Name: David Lammy with status count 3, 1347.6666666666667 4043 retweets
ID: 3247133146, Name: BUY LAS OLAS NOW!!!!! with status count 7, 558.1428571428571 3907 retweets
ID: 871703710812049400, Name: âµ£ with status count 2, 1930.5 3861 retweets
ID: 739802553085485000, Name: Lufthansa News with status count 419, 9.031026252983294 3784 retweets
739802553085485000>>>(60570380, 870)
739802553085485000>>>(26462022, 146)
739802553085485000>>>(29191391, 129)
739802553085485000>>>(1460804725, 82)
739802553085485000>>>(21764143, 63)
739802553085485000>>>(119002935, 43)
739802553085485000>>>(124476322, 40)
739802553085485000>>>(835769811728646100, 32)
739802553085485000>>>(15425377, 32)
739802553085485000>>>(95252395, 31)
ID: 981851323372068900, Name: ð—¦ð—°ð—µð—¶ð—½ð—µð—¼ð—¹ð—ªð—®ð˜ð—°ð—µ with status count 5792, 0.6460635359116023 3742 retweets
981851323372068900>>>(56377143, 1137)
981851323372068900>>>(8279892, 410)
981851323372068900>>>(17022916, 268)
981851323372068900>>>(819791, 266)
981851323372068900>>>(2799594860, 238)
981851323372068900>>>(920164010342912000, 184)
981851323372068900>>>(2902821, 142)
981851323372068900>>>(38676903, 101)
981851323372068900>>>(403698909, 92)
981851323372068900>>>(19199075, 90)
ID: 2153597521, Name: andreÍª with status count 2, 1813.0 3626 retweets
ID: 304894322, Name: Cork Airport with status count 162, 22.21604938271605 3599 retweets
304894322>>>(304894322, 3629)
304894322>>>(1542862735, 292)
304894322>>>(106062176, 95)
304894322>>>(56377143, 80)
304894322>>>(281046179, 30)
304894322>>>(20626359, 12)
304894322>>>(47903099, 7)
304894322>>>(118999126, 5)
304894322>>>(1085847091010814000, 4)
304894322>>>(979380571007799300, 4)
ID: 250193313, Name: Modesto GarcÃ­a with status count 1, 3585.0 3585 retweets
ID: 28105835, Name: anne corpet with status count 34, 105.0 3570 retweets
28105835>>>(106062176, 1148)
ID: 16973333, Name: The Independent with status count 486, 7.343621399176954 3569 retweets
16973333>>>(1632457778, 12)
16973333>>>(1412178678, 12)
ID: 957547182, Name: The Lagos State Govt with status count 6, 593.6666666666666 3562 retweets

ID: 3226842193, Name: à¸ªà¸²à¸£à¸°à¸à¸²à¸£à¸šà¸´à¸™à¸™à¹ˆà¸²à¸£à¸¹à¹‰ðŸ›©âœ¨â„¢ with status count 229, 15.117903930131005 3462 retweets
3226842193>>>(60361925, 24)
3226842193>>>(954195006121627600, 5)
3226842193>>>(95584582, 5)
3226842193>>>(56377143, 2)
ID: 36042554, Name: The Royal Family with status count 16, 210.75 3372 retweets
36042554>>>(18332190, 2949)
ID: 42421075, Name: rizarul sorry penad with status count 5, 669.8 3349 retweets
ID: 191881312, Name: Alex Macheras with status count 221, 14.846153846153847 3281 retweets
191881312>>>(18332190, 185)
191881312>>>(20626359, 107)
191881312>>>(15425377, 71)
191881312>>>(124476322, 64)
191881312>>>(76067316, 46)
191881312>>>(22536055, 44)
191881312>>>(45621423, 43)
191881312>>>(38676903, 31)
191881312>>>(106062176, 18)
191881312>>>(20823928, 13)
ID: 2546037755, Name: Airplane Pictures âœˆ with status count 16, 203.1875 3251 retweets
ID: 805126491528892400, Name: Monica Carol with status count 1, 3215.0 3215 retweets
ID: 2786230659, Name: abraar ðŸ‡²ðŸ‡º with status count 6, 535.6666666666666 3214 retweets
2786230659>>>(1284504012, 16)
ID: 1657042380, Name: Avgeek Mel with status count 479, 6.688935281837161 3204 retweets
1657042380>>>(19913832, 1006)
1657042380>>>(340367852, 978)
1657042380>>>(20626359, 763)
1657042380>>>(15425377, 718)
1657042380>>>(18332190, 607)
1657042380>>>(868181886958530600, 566)
1657042380>>>(20823928, 414)
1657042380>>>(253340062, 316)
1657042380>>>(56377143, 291)
1657042380>>>(19401532, 261)
ID: 15425377, Name: Airbus with status count 59, 53.101694915254235 3133 retweets
15425377>>>(106062176, 980)
15425377>>>(18332190, 907)
15425377>>>(38676903, 480)
15425377>>>(218730857, 372)
15425377>>>(20626359, 193)
15425377>>>(22536055, 102)
15425377>>>(739802553085485000, 82)
15425377>>>(253340062, 69)
15425377>>>(879422204391243800, 67)
15425377>>>(2232016410, 4)
ID: 361321755, Name: UNITE HERE with status count 666, 4.666666666666667 3108 retweets
361321755>>>(22536055, 3364)
361321755>>>(5920532, 271)
361321755>>>(29442313, 253)
361321755>>>(260907612, 234)
361321755>>>(2968451607, 88)
361321755>>>(74829020, 64)
361321755>>>(768122616, 51)
361321755>>>(34605824, 48)
361321755>>>(357606935, 46)
361321755>>>(61843868, 45)
ID: 1134331688996167700, Name: Navya Dua with status count 1, 3106.0 3106 retweets
ID: 35776604, Name: Felipe SolÃ¡ with status count 1, 3103.0 3103 retweets
ID: 11026952, Name: Miami HEAT with status count 13, 238.46153846153845 3100 retweets
11026952>>>(22536055, 4088)
11026952>>>(33995409, 559)
11026952>>>(3973445776, 2)
11026952>>>(85960231, 2)
11026952>>>(48797482, 2)
11026952>>>(16334281, 2)
ID: 883253580991475700, Name: air plus news with status count 173, 17.84393063583815 3087 retweets
883253580991475700>>>(106062176, 289)
883253580991475700>>>(463932884, 46)
883253580991475700>>>(2373573066, 34)
883253580991475700>>>(1052524788, 4)
883253580991475700>>>(330504751, 4)
883253580991475700>>>(40205617, 1)
ID: 3781510577, Name: Breaking Aviation News with status count 121, 25.429752066115704 3077 retweets
ID: 332837542, Name: ðŸŒ¸CatherineðŸˆ with status count 2, 1538.0 3076 retweets
ID: 2276627639, Name: tony with status count 4, 767.0 3068 retweets
ID: 743425953230110700, Name: Alexander's Journey with status count 219, 13.981735159817351 3062 retweets
743425953230110700>>>(20626359, 3367)
743425953230110700>>>(5920532, 1979)
743425953230110700>>>(40356855, 454)
743425953230110700>>>(71275139, 189)
743425953230110700>>>(21457411, 103)
743425953230110700>>>(19085121, 82)
743425953230110700>>>(849619749139099600, 46)
743425953230110700>>>(750588086648799200, 46)
743425953230110700>>>(559390998, 46)
743425953230110700>>>(103847168, 46)
ID: 943000979946946600, Name: YourDogLoves_U ðŸ¦ŠðŸžðŸ»ðŸ¿ðŸ¦„ with status count 1, 3031.0 3031 retweets
ID: 553581707, Name: #OurFavOnlineDoc ðŸ›‚ with status count 9, 334.55555555555554 3011 retweets
ID: 21040811, Name: Boris Kodjoe with status count 9, 331.3333333333333 2982 retweets
21040811>>>(22536055, 3988)
ID: 7587032, Name: Sky News with status count 104, 28.423076923076923 2956 retweets
7587032>>>(18332190, 195)
7587032>>>(1542862735, 133)
7587032>>>(38676903, 18)
7587032>>>(19341887, 18)
ID: 839009881311088600, Name: Lufthansa India with status count 159, 18.50943396226415 2943 retweets
839009881311088600>>>(124476322, 4)
839009881311088600>>>(1137307520093941800, 2)
839009881311088600>>>(844147191279116300, 2)
839009881311088600>>>(1366348538, 2)
839009881311088600>>>(1324410704, 2)
839009881311088600>>>(550238735, 2)
839009881311088600>>>(335873700, 2)
839009881311088600>>>(220710811, 2)
839009881311088600>>>(128143477, 2)
839009881311088600>>>(44994215, 2)
ID: 7155842, Name: BelÃ©n ðŸ˜± with status count 2, 1450.5 2901 retweets
ID: 1149105891129659400, Name: GUILLAUME LAFFON with status count 226, 12.544247787610619 2835 retweets
1149105891129659400>>>(106062176, 995)
1149105891129659400>>>(40205617, 108)
1149105891129659400>>>(3091451104, 72)
1149105891129659400>>>(71016845, 64)
1149105891129659400>>>(2153322870, 35)
1149105891129659400>>>(25103967, 34)
1149105891129659400>>>(3044797241, 18)
1149105891129659400>>>(3361250273, 14)
1149105891129659400>>>(30068744, 14)
1149105891129659400>>>(725241657608814600, 9)
ID: 722888080928026600, Name: Jam ðŸŽ’ with status count 5, 553.6 2768 retweets
722888080928026600>>>(1542862735, 3)
ID: 838924874508865500, Name: ì•ˆì‚¬ìš” with status count 4, 684.5 2738 retweets
ID: 544640536, Name: Shubhrastha with status count 1, 2727.0 2727 retweets
ID: 315977137, Name: Abdi TV with status count 13, 209.3846153846154 2722 retweets
315977137>>>(38676903, 6455)
315977137>>>(1542862735, 24)
ID: 870629200348274700, Name: ðŸ’§simon holmes Ã  court with status count 145, 18.75862068965517 2720 retweets
870629200348274700>>>(218730857, 2660)
870629200348274700>>>(1568352805, 716)
870629200348274700>>>(38676903, 335)
870629200348274700>>>(15378041, 115)
870629200348274700>>>(188679569, 48)
870629200348274700>>>(54399441, 19)
870629200348274700>>>(1065395225672134700, 8)
870629200348274700>>>(2324991210, 7)
870629200348274700>>>(232187050, 7)
870629200348274700>>>(400495760, 6)
ID: 7270292, Name: Sen. Jim Inhofe with status count 3, 891.0 2673 retweets
7270292>>>(22536055, 2760)
7270292>>>(981220008, 3)
7270292>>>(817431703, 3)
7270292>>>(357549055, 3)
7270292>>>(80048966, 3)
7270292>>>(33980038, 3)
7270292>>>(16781544, 3)
ID: 2799594860, Name: Yteke de Jong with status count 3018, 0.8807157057654076 2658 retweets
2799594860>>>(56377143, 5080)
2799594860>>>(2902821, 2019)
2799594860>>>(8279892, 1743)
2799594860>>>(19199075, 796)
2799594860>>>(106062176, 743)
2799594860>>>(1542862735, 731)
2799594860>>>(2903221, 651)
2799594860>>>(3044797241, 637)
2799594860>>>(887548276182011900, 609)
2799594860>>>(25103967, 538)
ID: 35619835, Name: Dee Madigan with status count 80, 32.675 2614 retweets
35619835>>>(218730857, 1032)
35619835>>>(15378041, 52)
35619835>>>(15590888, 11)
35619835>>>(1243765613148819500, 5)
35619835>>>(1238734290268983300, 5)
35619835>>>(3284093557, 5)
35619835>>>(965797692814192600, 3)
35619835>>>(3064334213, 3)
35619835>>>(299616247, 3)
35619835>>>(296800432, 3)
ID: 1223793865, Name: Raison with status count 2, 1293.5 2587 retweets
1223793865>>>(275443866, 16)
1223793865>>>(22048564, 16)
ID: 1105835711305936900, Name: AIRLINE VIDEOS with status count 236, 10.555084745762711 2491 retweets
1105835711305936900>>>(26886095, 964)
1105835711305936900>>>(22536055, 281)
1105835711305936900>>>(18332190, 214)
1105835711305936900>>>(218730857, 195)
1105835711305936900>>>(124476322, 189)
1105835711305936900>>>(25103967, 141)
1105835711305936900>>>(15425377, 134)
1105835711305936900>>>(106062176, 104)
1105835711305936900>>>(56377143, 104)
1105835711305936900>>>(20626359, 76)
ID: 216776631, Name: Bernie Sanders with status count 8, 306.75 2454 retweets
216776631>>>(22536055, 3867)
216776631>>>(5920532, 2098)
216776631>>>(1537004124, 580)
216776631>>>(361321755, 467)
ID: 292558545, Name: Norbert Elekes with status count 47, 52.170212765957444 2452 retweets
ID: 226944459, Name: Cuppy ðŸ¨ #GELATO with status count 3, 794.6666666666666 2384 retweets
226944459>>>(20626359, 2824)
226944459>>>(18332190, 2730)
ID: 3385729313, Name: Twintair with status count 4963, 0.48015313318557323 2383 retweets

3385729313>>>(40205617, 173)
3385729313>>>(22090282, 134)
3385729313>>>(15425377, 122)
3385729313>>>(138552413, 107)
3385729313>>>(171469656, 98)
3385729313>>>(2244049410, 88)
3385729313>>>(99984408, 81)
3385729313>>>(20814874, 67)
3385729313>>>(434844586, 63)
3385729313>>>(3044797241, 54)
ID: 516213072, Name: Crisologo Caceres with status count 1, 2322.0 2322 retweets
ID: 958694618, Name: Airport Workers Utd with status count 50, 45.44 2272 retweets
958694618>>>(22536055, 2280)
958694618>>>(342803091, 2232)
958694618>>>(5920532, 33)
958694618>>>(249768963, 18)
958694618>>>(7212562, 9)
958694618>>>(361321755, 6)
958694618>>>(260907612, 3)
ID: 36109768, Name: ð™€ð™£ð™§ð™žð™¦ð™ªð™š ð™‚ð™–ð™¡ð™«Ã¡ð™£ ð™Šð™˜ð™ð™¤ð™– with status count 7, 320.85714285714283 2246 retweets
36109768>>>(124476322, 2459)
ID: 301308940, Name: RubÃ©n SÃ¡nchez with status count 43, 51.46511627906977 2213 retweets
301308940>>>(8077212, 445)
301308940>>>(202372417, 362)
301308940>>>(925676922838929400, 228)
301308940>>>(1216727603689771000, 134)
301308940>>>(1224258090603892700, 127)
301308940>>>(11904592, 127)
301308940>>>(38676903, 83)
301308940>>>(14813703, 3)
301308940>>>(1041635471686656000, 2)
301308940>>>(2804660314, 2)
ID: 425840919, Name: Kzaz #Resist ðŸŸ #SardinesUK #FBPE with status count 8, 276.25 2210 retweets
425840919>>>(602920127, 94)
ID: 55195680, Name: MCB with status count 7, 313.85714285714283 2197 retweets
55195680>>>(7587032, 29)
55195680>>>(135108617, 5)
55195680>>>(43404267, 5)
55195680>>>(16559786, 5)
ID: 49573859, Name: will.i.am with status count 13, 167.53846153846155 2178 retweets
49573859>>>(218730857, 2430)
ID: 58913244, Name: Jason Rabinowitz with status count 272, 7.930147058823529 2157 retweets
58913244>>>(22536055, 2065)
58913244>>>(33625506, 670)
58913244>>>(15165450, 670)
58913244>>>(15425377, 241)
58913244>>>(56377143, 182)
58913244>>>(18332190, 163)
58913244>>>(34605824, 161)
58913244>>>(415683367, 122)
58913244>>>(106062176, 91)
58913244>>>(1542862735, 77)
ID: 2097571, Name: CNN International with status count 57, 37.8421052631579 2157 retweets
ID: 8824902, Name: Dallas Cowboys with status count 21, 101.80952380952381 2138 retweets
8824902>>>(22536055, 2145)
8824902>>>(776165159488192500, 112)
8824902>>>(563064408, 67)
8824902>>>(854798940478328800, 39)
8824902>>>(192072976, 2)
ID: 759251, Name: CNN with status count 33, 64.15151515151516 2117 retweets
ID: 4892685173, Name: Jefferson Group with status count 96, 22.041666666666668 2116 retweets
4892685173>>>(218730857, 2)
ID: 460116210, Name: Luka Doncic with status count 6, 349.3333333333333 2096 retweets
460116210>>>(124476322, 3228)
460116210>>>(22536055, 304)
ID: 737694485522612200, Name: Njames World ðŸ‡¬ðŸ‡§ with status count 3, 692.3333333333334 2077 retweets
737694485522612200>>>(884805295452639200, 204)
ID: 535707261, Name: eldiario.es with status count 55, 37.58181818181818 2067 retweets
535707261>>>(4859985844, 6)
535707261>>>(316706708, 4)
ID: 498753368, Name: Russ with status count 14, 147.57142857142858 2066 retweets
498753368>>>(3568536317, 3)
498753368>>>(111071931, 3)
498753368>>>(1148920949976240100, 2)
ID: 94208950, Name: AntonioMaestre with status count 1, 2061.0 2061 retweets
94208950>>>(874167384181018600, 2091)
ID: 1514068152, Name: Airport Webcams with status count 233, 8.815450643776824 2054 retweets
1514068152>>>(218730857, 329)
1514068152>>>(18332190, 313)
1514068152>>>(15425377, 183)
1514068152>>>(22536055, 103)
1514068152>>>(20626359, 86)
1514068152>>>(106062176, 45)
1514068152>>>(56377143, 21)
1514068152>>>(587397179, 15)
1514068152>>>(20823928, 15)
1514068152>>>(45621423, 14)
ID: 138289680, Name: Gabriel MartÃ­nez with status count 3, 678.0 2034 retweets
138289680>>>(56377143, 1202)
138289680>>>(22536055, 262)
ID: 429085320, Name: ë‹¬ì‚° with status count 7, 289.2857142857143 2025 retweets
ID: 266488922, Name: Esperanza FernÃ¡ndez with status count 1, 2022.0 2022 retweets
ID: 76842602, Name: ð•¤ð•’ð•žð•’ð•Ÿð•¥ð•™ð•’ ð•žð•’ð•šð••ð•–ð•Ÿ with status count 19, 105.94736842105263 2013 retweets
76842602>>>(218730857, 632)
76842602>>>(34116377, 99)
76842602>>>(16675569, 16)
76842602>>>(301787150, 5)
76842602>>>(2738371146, 2)
76842602>>>(48609509, 2)
ID: 171469656, Name: Anne Rigail with status count 55, 36.54545454545455 2010 retweets
171469656>>>(106062176, 595)
171469656>>>(463932884, 495)
171469656>>>(864186593845928000, 256)
171469656>>>(106699049, 103)
171469656>>>(15425377, 86)
171469656>>>(277407660, 29)
171469656>>>(869923560277594100, 20)
171469656>>>(258844830, 14)
ID: 14436317, Name: Ignacio Escolar with status count 10, 200.3 2003 retweets
ID: 177183714, Name: shasha cut short with status count 2, 998.5 1997 retweets
177183714>>>(56377143, 2141)
ID: 33149259, Name: Just Planes with status count 191, 10.418848167539267 1990 retweets
33149259>>>(106062176, 139)
33149259>>>(56377143, 73)
33149259>>>(20626359, 48)
33149259>>>(18332190, 46)
33149259>>>(19913832, 43)
33149259>>>(767032182963667000, 33)
33149259>>>(45621423, 31)
33149259>>>(22536055, 30)
33149259>>>(16408759, 23)
33149259>>>(253340062, 17)
ID: 157818576, Name: Tunde Ajayi with status count 3, 661.3333333333334 1984 retweets
ID: 28026149, Name: Sally Rugg with status count 15, 130.8 1962 retweets
28026149>>>(218730857, 1528)
ID: 577422518, Name: Sam Chui with status count 150, 13.046666666666667 1957 retweets
577422518>>>(218730857, 549)
577422518>>>(18332190, 531)
577422518>>>(106062176, 526)
577422518>>>(56377143, 404)
577422518>>>(277407660, 374)
577422518>>>(1542862735, 327)
577422518>>>(15425377, 192)
577422518>>>(45621423, 100)
577422518>>>(253340062, 71)
577422518>>>(8279892, 70)
ID: 857260759675535400, Name: Aviationdailyâœˆï¸Ø§Ù„Ø·ÙŠØ±Ø§Ù† ÙŠÙˆÙ…ÙŠØ¢ with status count 6, 324.5 1947 retweets
857260759675535400>>>(22536055, 2)
857260759675535400>>>(18332190, 1)
ID: 994162760266207200, Name: JosiahðŸ‡¬ðŸ‡­ðŸ‡¨ðŸ‡® with status count 1, 1944.0 1944 retweets
ID: 367323977, Name: Arinze Odira with status count 14, 138.21428571428572 1935 retweets
ID: 1114590254, Name: Winston with status count 2, 965.0 1930 retweets
ID: 2975314749, Name: jprÃ­nce é£› with status count 3, 642.0 1926 retweets
ID: 21439144, Name: Katie Hopkins with status count 7, 275.14285714285717 1926 retweets
21439144>>>(1542862735, 341)
21439144>>>(18332190, 123)
ID: 154221292, Name: Casey Neistat with status count 9, 213.66666666666666 1923 retweets
154221292>>>(124476322, 40)
ID: 2567535693, Name: ClÃ©ment Alloing with status count 70, 27.34285714285714 1914 retweets
2567535693>>>(18332190, 742)
2567535693>>>(134196350, 222)
2567535693>>>(20626359, 212)
2567535693>>>(106062176, 167)
2567535693>>>(3044797241, 109)
2567535693>>>(45621423, 103)
2567535693>>>(22090282, 94)
2567535693>>>(999666687682195500, 70)
2567535693>>>(14573900, 70)
2567535693>>>(22536055, 67)
ID: 22912803, Name: Royal International Air Tattoo with status count 27, 70.85185185185185 1913 retweets
22912803>>>(18332190, 2910)
22912803>>>(587397179, 2613)
22912803>>>(194938804, 2527)
22912803>>>(22090282, 50)
22912803>>>(20823928, 14)
ID: 1961043109, Name: Stansaid Airport with status count 59, 32.389830508474574 1911 retweets
1961043109>>>(1542862735, 18)
1961043109>>>(514828179, 18)
1961043109>>>(4753568537, 4)
1961043109>>>(29314298, 3)
1961043109>>>(20626359, 3)
1961043109>>>(1155900095369375700, 2)
1961043109>>>(405788078, 2)
1961043109>>>(297503970, 2)
ID: 54649261, Name: epigmenio ibarra with status count 1, 1903.0 1903 retweets
54649261>>>(36109768, 3827)
ID: 2158949249, Name: Ogene Augustina with status count 1, 1889.0 1889 retweets
ID: 908749393, Name: AlNassr FC with status count 5, 375.0 1875 retweets
908749393>>>(45621423, 1777)
ID: 514828179, Name: Woodys Aeroimages with status count 183, 10.12568306010929 1853 retweets
514828179>>>(1542862735, 2609)
514828179>>>(253340062, 381)
514828179>>>(56377143, 131)
514828179>>>(25103967, 64)
514828179>>>(966018696933081100, 63)
514828179>>>(89289782, 56)
514828179>>>(124476322, 53)
514828179>>>(22536055, 40)
514828179>>>(68060037, 33)
514828179>>>(3028124863, 22)
ID: 314566049, Name: Menno Swart with status count 713, 2.58765778401122 1845 retweets
314566049>>>(56377143, 1524)
314566049>>>(8279892, 226)
314566049>>>(15425377, 127)
314566049>>>(45621423, 122)
314566049>>>(218730857, 87)
314566049>>>(18332190, 74)
314566049>>>(155507136, 54)
314566049>>>(106062176, 53)
314566049>>>(38676903, 49)
314566049>>>(2306201538, 39)
ID: 14436030, Name: EL MUNDO with status count 42, 43.595238095238095 1831 retweets

ID: 47438401, Name: Richard Engel with status count 1, 1814.0 1814 retweets
ID: 1957125536, Name: Old Holborn âœ˜ with status count 21, 86.19047619047619 1810 retweets
1957125536>>>(1245699895, 7)
1957125536>>>(2985942701, 3)
1957125536>>>(603783854, 3)
1957125536>>>(20973388, 3)
ID: 61189317, Name: Lord Inario with status count 2, 900.0 1800 retweets
ID: 739525969111830500, Name: BIG JET TV with status count 161, 10.850931677018634 1747 retweets
739525969111830500>>>(18332190, 1823)
739525969111830500>>>(587397179, 1413)
739525969111830500>>>(20823928, 209)
739525969111830500>>>(15425377, 201)
739525969111830500>>>(20626359, 195)
739525969111830500>>>(46366572, 100)
739525969111830500>>>(868181886958530600, 79)
739525969111830500>>>(19913832, 58)
739525969111830500>>>(22536055, 52)
739525969111830500>>>(59745629, 45)
ID: 1033551266155098100, Name: æŸ±å³¶ã®æ±åŒ—ãšã‚“å­ç·çµ± with status count 23, 74.08695652173913 1704 retweets
ID: 96634851, Name: Andrea Blanford with status count 6, 284.0 1704 retweets
96634851>>>(22536055, 3208)
96634851>>>(415683367, 2228)
96634851>>>(206246810, 2228)
ID: 4318226714, Name: ì •ì†Œì—° with status count 7, 243.0 1701 retweets
4318226714>>>(78553178, 20)
ID: 1043128725540405200, Name: Lufthansa Vintage with status count 290, 5.848275862068966 1696 retweets
1043128725540405200>>>(124476322, 290)
1043128725540405200>>>(3377081243, 18)
1043128725540405200>>>(1052627686273818600, 14)
1043128725540405200>>>(1036970151059644400, 13)
1043128725540405200>>>(735003296679768000, 13)
1043128725540405200>>>(25103967, 13)
1043128725540405200>>>(816767938040660000, 12)
1043128725540405200>>>(57016932, 11)
1043128725540405200>>>(21614893, 9)
1043128725540405200>>>(60570380, 6)
ID: 393809169, Name: 16Right Media with status count 112, 15.017857142857142 1682 retweets
393809169>>>(218730857, 526)
393809169>>>(31327991, 252)
393809169>>>(45621423, 84)
393809169>>>(18332190, 34)
393809169>>>(22090282, 22)
393809169>>>(56377143, 16)
393809169>>>(1225053002, 6)
393809169>>>(2762475846, 5)
393809169>>>(15425377, 5)
393809169>>>(25793722, 3)
ID: 815639820554932200, Name: Stefan Heinrichs with status count 8, 208.625 1669 retweets
ID: 15631238, Name: Virgin with status count 189, 8.767195767195767 1657 retweets
15631238>>>(20626359, 1828)
15631238>>>(19005152, 357)
15631238>>>(15425377, 336)
15631238>>>(55357522, 168)
15631238>>>(85072628, 130)
15631238>>>(8161232, 113)
15631238>>>(20106852, 92)
15631238>>>(339839807, 32)
15631238>>>(42678485, 32)
15631238>>>(5920532, 26)
ID: 64205340, Name: Nathalie Emmanuel with status count 2, 826.5 1653 retweets
ID: 51378058, Name: NotImpressed #FBPE with status count 29, 56.724137931034484 1645 retweets
ID: 33884545, Name: CNN en EspaÃ±ol with status count 45, 36.55555555555556 1645 retweets
ID: 174026663, Name: Mohamed with status count 123, 13.276422764227643 1633 retweets
174026663>>>(1542862735, 1708)
174026663>>>(1449525326, 1705)
174026663>>>(513215868, 341)
174026663>>>(30689520, 114)
174026663>>>(1658159293, 30)
174026663>>>(2747214896, 2)
174026663>>>(30265324, 2)
ID: 23483816, Name: Giles Paley-Phillips with status count 1, 1629.0 1629 retweets
ID: 2561862283, Name: ðŸ‘¾ with status count 4, 405.75 1623 retweets
2561862283>>>(851161611876409300, 2)
2561862283>>>(2881649313, 2)
2561862283>>>(1542862735, 2)
ID: 587397179, Name: Red Arrows with status count 20, 80.4 1608 retweets
587397179>>>(22912803, 603)
587397179>>>(18332190, 384)
587397179>>>(552582271, 219)
ID: 142346204, Name: Rickie. with status count 1, 1604.0 1604 retweets
ID: 424120588, Name: Captain Dave with status count 346, 4.586705202312139 1587 retweets
424120588>>>(96006812, 769)
424120588>>>(15425377, 641)
424120588>>>(18332190, 548)
424120588>>>(20823928, 310)
424120588>>>(22090282, 91)
424120588>>>(1468126154, 89)
424120588>>>(868181886958530600, 85)
424120588>>>(20626359, 63)
424120588>>>(2174752454, 42)
424120588>>>(2242180784, 25)
ID: 3191117990, Name: Joel Pimentel De LeÃ³n with status count 1, 1581.0 1581 retweets
3191117990>>>(22536055, 1815)
ID: 115987338, Name: Controladores AÃ©reos ðŸ‡ªðŸ‡¸ with status count 358, 4.410614525139665 1579 retweets
115987338>>>(14602576, 233)
115987338>>>(36397274, 212)
115987338>>>(393374091, 64)
115987338>>>(68441909, 58)
115987338>>>(250426889, 52)
115987338>>>(381414304, 41)
115987338>>>(166507237, 36)
115987338>>>(14942445, 34)
115987338>>>(1019808769830629400, 23)
115987338>>>(249616596, 20)
ID: 899072038308110300, Name: ShakkoJackoðŸ‡¯ðŸ‡² with status count 29, 54.241379310344826 1573 retweets
ID: 103130238, Name: Tom Colicchio with status count 6, 262.0 1572 retweets
103130238>>>(22536055, 2642)
ID: 2842543937, Name: Reine de la Iran France Persia with status count 3168, 0.4914772727272727 1557 retweets
2842543937>>>(437520768, 2622)
2842543937>>>(1451773004, 2535)
2842543937>>>(158736704, 2446)
2842543937>>>(19058681, 2267)
2842543937>>>(2840060513, 2190)
2842543937>>>(2184489764, 1644)
2842543937>>>(62747302, 1135)
2842543937>>>(2842543937, 959)
2842543937>>>(125727024, 760)
2842543937>>>(877836832406417400, 549)
ID: 160856325, Name: Mike Carlton with status count 26, 59.57692307692308 1549 retweets
160856325>>>(19651337, 505)
160856325>>>(9609632, 505)
160856325>>>(218730857, 161)
160856325>>>(2689022623, 6)
160856325>>>(32339623, 6)
ID: 810329989975605200, Name: BenniðŸƒ with status count 32, 48.25 1544 retweets
ID: 475866222, Name: Salem a.k.a Chica Paella with status count 1, 1542.0 1542 retweets
ID: 170039401, Name: UNITE HERE Local 2 with status count 187, 8.181818181818182 1530 retweets
170039401>>>(22536055, 3271)
170039401>>>(216776631, 1205)
170039401>>>(260907612, 517)
170039401>>>(5920532, 517)
170039401>>>(855899909857345500, 35)
170039401>>>(583542726, 15)
170039401>>>(33615088, 15)
170039401>>>(94860733, 7)
170039401>>>(61843868, 7)
170039401>>>(48366585, 7)
ID: 2690851650, Name: Krsto LazareviÄ‡ with status count 2, 764.5 1529 retweets
ID: 112125663, Name: Barnaby Edwards with status count 2, 764.5 1529 retweets
ID: 87416722, Name: Sky News Breaking with status count 13, 115.46153846153847 1501 retweets
ID: 1472536002, Name: Scafanna with status count 5, 300.0 1500 retweets
ID: 497825722, Name: Pastrana with status count 1, 1497.0 1497 retweets
ID: 22298680, Name: King Kaz.ðŸŒ¹ with status count 2, 747.5 1495 retweets
ID: 107680569, Name: Madeleine Morris with status count 4, 369.25 1477 retweets
107680569>>>(218730857, 30)
ID: 143549690, Name: Adam Hamdy with status count 124, 11.89516129032258 1475 retweets
143549690>>>(4707751217, 1767)
143549690>>>(20626359, 1724)
143549690>>>(1018193373528805400, 2)
143549690>>>(984892305021730800, 2)
143549690>>>(2835886194, 2)
143549690>>>(250831586, 2)
143549690>>>(29189467, 2)
143549690>>>(26053643, 2)
143549690>>>(25365536, 2)
143549690>>>(19397785, 2)
ID: 705123923130716200, Name: nosfaltapaco with status count 14, 105.28571428571429 1474 retweets
ID: 1132832803, Name: Tony Windsor with status count 56, 26.25 1470 retweets
1132832803>>>(218730857, 1698)
1132832803>>>(220303226, 40)
1132832803>>>(29969762, 16)
1132832803>>>(459858173, 12)
1132832803>>>(958842956, 4)
1132832803>>>(185614627, 4)
ID: 863447815598612500, Name: American Airlines with status count 11, 133.0 1463 retweets
ID: 3143935509, Name: MARIANO RAJOY FAKE ðŸ‡ªðŸ‡¸ with status count 1, 1455.0 1455 retweets
ID: 352754946, Name: ðŸ’§Michael West with status count 16, 90.8125 1453 retweets
352754946>>>(49272399, 48)
352754946>>>(1042263985150554100, 28)
352754946>>>(603951538, 28)
352754946>>>(958842956, 7)
352754946>>>(74676960, 7)
352754946>>>(1164443244723200000, 5)
352754946>>>(825568519374790700, 5)
352754946>>>(2723172332, 5)
352754946>>>(218730857, 5)
352754946>>>(40962194, 5)
ID: 68712576, Name: Carlos Bolsonaro with status count 1, 1452.0 1452 retweets
ID: 39692424, Name: Alerta News 24 with status count 9, 160.77777777777777 1447 retweets
ID: 21882260, Name: Katie Pennick with status count 5, 286.4 1432 retweets
21882260>>>(38676903, 1709)
21882260>>>(1542862735, 10)
21882260>>>(41570734, 10)
ID: 4970411, Name: Al Jazeera English with status count 7, 202.71428571428572 1419 retweets
ID: 48568308, Name: Guillo Dietrich with status count 3, 468.3333333333333 1405 retweets
48568308>>>(22536055, 1742)
ID: 830802035947757600, Name: Prof. Akin Abayomi with status count 5, 280.6 1403 retweets

ID: 3056307455, Name: Zarah Sultana MP with status count 2, 701.0 1402 retweets
ID: 6135622, Name: DW EspaÃ±ol with status count 25, 56.0 1400 retweets
ID: 887174165836423200, Name: AK Entertainments with status count 1, 1377.0 1377 retweets
ID: 707197958333337600, Name: Julie Owen Moylan with status count 6, 227.16666666666666 1363 retweets
ID: 909959658101661700, Name: à¸„à¸¹à¸£à¸¶à¸¡à¹à¸¥à¸™à¸”à¹Œ | ðŸ¶ðŸ’• with status count 1, 1361.0 1361 retweets
ID: 42479903, Name: Ecuadorinmediato with status count 9, 151.22222222222223 1361 retweets
42479903>>>(300279484, 31)
ID: 1127407858608304100, Name: ryujehong with status count 1, 1358.0 1358 retweets
1127407858608304100>>>(22536055, 2448)
ID: 69250474, Name: ConfederaciÃ³n USO with status count 299, 4.521739130434782 1352 retweets
69250474>>>(1101556894429253600, 155)
69250474>>>(1012067223358328800, 55)
69250474>>>(217352125, 39)
69250474>>>(249616596, 36)
69250474>>>(273114768, 35)
69250474>>>(955794446997745700, 33)
69250474>>>(874167384181018600, 32)
69250474>>>(237285100, 25)
69250474>>>(395961982, 20)
69250474>>>(2905232597, 17)
ID: 33429101, Name: Luchtvaartnieuws.nl with status count 659, 2.0515933232169954 1352 retweets
33429101>>>(56377143, 15)
33429101>>>(25103967, 5)
33429101>>>(8279892, 5)
33429101>>>(106062176, 3)
ID: 1960026314, Name: ë‹¬ìž(í¬) with status count 19, 70.78947368421052 1345 retweets
ID: 43183960, Name: Enda Burke with status count 394, 3.4060913705583755 1342 retweets
43183960>>>(19913832, 698)
43183960>>>(18332190, 515)
43183960>>>(38676903, 310)
43183960>>>(45621423, 293)
43183960>>>(20626359, 259)
43183960>>>(20823928, 143)
43183960>>>(22912803, 128)
43183960>>>(587397179, 119)
43183960>>>(25103967, 110)
43183960>>>(14573900, 100)
ID: 251600033, Name: Ø¨ØªØ§Ù„ Ø§Ù„Ù‚ÙˆØ³ with status count 1, 1338.0 1338 retweets
ID: 120342217, Name: 32BJ SEIU with status count 86, 15.465116279069768 1330 retweets
120342217>>>(141341662, 1355)
120342217>>>(216776631, 1352)
120342217>>>(22536055, 657)
120342217>>>(5920532, 177)
120342217>>>(119829799, 157)
120342217>>>(249768963, 29)
120342217>>>(72198806, 7)
120342217>>>(2167097881, 6)
120342217>>>(18906097, 5)
120342217>>>(821045162, 4)
ID: 1222437764769013800, Name: å°å’²ãªãª with status count 1, 1319.0 1319 retweets
ID: 1214315619031478300, Name: Conflits with status count 12, 109.83333333333333 1318 retweets
1214315619031478300>>>(38676903, 101)
ID: 2704797852, Name: YouTripReport âœˆï¸ with status count 202, 6.475247524752476 1308 retweets
2704797852>>>(56377143, 731)
2704797852>>>(725811321485312000, 446)
2704797852>>>(124476322, 402)
2704797852>>>(4896183617, 205)
2704797852>>>(18332190, 156)
2704797852>>>(1108604474, 144)
2704797852>>>(106062176, 90)
2704797852>>>(227047304, 66)
2704797852>>>(22536055, 63)
2704797852>>>(253340062, 54)
ID: 48624704, Name: Sally McManus with status count 36, 36.25 1305 retweets
48624704>>>(2768501, 1413)
48624704>>>(218730857, 233)
48624704>>>(448348586, 12)
ID: 766394533257052200, Name: JayBird with status count 13, 100.23076923076923 1303 retweets
766394533257052200>>>(1020939083659411500, 2)
766394533257052200>>>(823284981619228700, 2)
766394533257052200>>>(255669131, 2)
766394533257052200>>>(254524214, 2)
766394533257052200>>>(240368106, 2)
766394533257052200>>>(56377143, 2)
766394533257052200>>>(36055763, 2)
766394533257052200>>>(21455897, 2)
ID: 252751061, Name: Bloomberg TicToc with status count 30, 43.0 1290 retweets
252751061>>>(357606935, 810)
252751061>>>(189868631, 810)
252751061>>>(34713362, 810)
252751061>>>(14499829, 810)
252751061>>>(18332190, 605)
252751061>>>(253340062, 548)
252751061>>>(218730857, 253)
252751061>>>(1006419421244678100, 26)
252751061>>>(384620415, 1)
ID: 38381308, Name: El Mundo Today with status count 3, 428.3333333333333 1285 retweets
38381308>>>(90303308, 5)
ID: 946795307089649700, Name: Vasudha with status count 2, 640.0 1280 retweets
ID: 2174752454, Name: kent matthiesen with status count 244, 5.209016393442623 1271 retweets
2174752454>>>(96006812, 892)
2174752454>>>(18332190, 717)
2174752454>>>(424120588, 261)
2174752454>>>(124476322, 233)
2174752454>>>(56377143, 124)
2174752454>>>(15425377, 124)
2174752454>>>(218730857, 83)
2174752454>>>(22090282, 56)
2174752454>>>(94714381, 53)
2174752454>>>(26886095, 43)
ID: 83011510, Name: Dave Jones ðŸ´ó §ó ¢ó ·ó ¬ó ³ó ¿ðŸ³ï¸â€ðŸŒˆ with status count 9, 140.33333333333334 1263 retweets
83011510>>>(56377143, 2)
ID: 210781980, Name: Pol Bacquet with status count 363, 3.4600550964187327 1256 retweets
210781980>>>(463932884, 129)
210781980>>>(4273404076, 20)
210781980>>>(210781980, 10)
210781980>>>(388952247, 8)
210781980>>>(1019808769830629400, 6)
210781980>>>(708521316, 6)
210781980>>>(26110930, 4)
210781980>>>(137253079, 2)
ID: 339394135, Name: Mary Lloyd with status count 1, 1247.0 1247 retweets
ID: 929802063382446100, Name: AviaciÃ³nhr_Info with status count 152, 8.197368421052632 1246 retweets
929802063382446100>>>(22536055, 327)
929802063382446100>>>(56377143, 168)
929802063382446100>>>(1542862735, 56)
929802063382446100>>>(15425377, 22)
929802063382446100>>>(1001334029612998700, 21)
929802063382446100>>>(1372212427, 21)
929802063382446100>>>(199975133, 21)
929802063382446100>>>(163762858, 17)
929802063382446100>>>(731038884, 13)
929802063382446100>>>(124476322, 13)
ID: 22090282, Name: Boeing Airplanes with status count 11, 113.0 1243 retweets
22090282>>>(18332190, 785)
22090282>>>(253340062, 321)
22090282>>>(45621423, 279)
22090282>>>(56377143, 228)
22090282>>>(22536055, 6)
22090282>>>(987030841, 5)
22090282>>>(13192972, 5)
22090282>>>(124476322, 2)
22090282>>>(14573900, 2)
22090282>>>(1542862735, 1)
ID: 380648579, Name: AFP news agency with status count 27, 45.96296296296296 1241 retweets
380648579>>>(147453579, 174)
380648579>>>(61012523, 174)
380648579>>>(2332206391, 125)
380648579>>>(222782095, 20)
380648579>>>(18332190, 20)
ID: 3044739166, Name: Sara Nelson with status count 38, 32.60526315789474 1239 retweets
3044739166>>>(124476322, 1035)
3044739166>>>(260907612, 942)
3044739166>>>(14369314, 477)
3044739166>>>(85603854, 14)
3044739166>>>(44409004, 14)
3044739166>>>(22536055, 5)
3044739166>>>(5920532, 5)
3044739166>>>(571731817, 3)
3044739166>>>(803319748570267600, 2)
3044739166>>>(93950784, 2)
ID: 2891380160, Name: PolemÃ³n with status count 2, 617.0 1234 retweets
2891380160>>>(144376833, 1311)
ID: 17290098, Name: Sky Bet with status count 4, 308.25 1233 retweets
ID: 2835962353, Name: The Late Late Show with James Corden with status count 5, 245.2 1226 retweets
2835962353>>>(20626359, 226)
2835962353>>>(8161232, 13)
ID: 495225183, Name: Fabrice Gliszczynski with status count 224, 5.46875 1225 retweets
495225183>>>(137253079, 48)
495225183>>>(389448612, 22)
495225183>>>(20626359, 22)
495225183>>>(15631238, 22)
495225183>>>(8161232, 22)
495225183>>>(91811247, 9)
495225183>>>(624837541, 8)
495225183>>>(38676903, 8)
495225183>>>(27067896, 7)
495225183>>>(4845227146, 5)